.home{
    padding: 20px 5vw 20px 5vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.home_frame{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 715px;
    padding: 0 5% 0 7%;
    border-radius: 5px;
    /* padding: 20px 100px; */
    background: linear-gradient(rgba(232, 232, 232, 1),rgba(236, 246, 250, 1));
}

.home_frame .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:end;
    gap: 20px;
    height: 100%;
    padding-bottom: 5%;
}

.home_frame .left .save_cash{
    font-family: openSans;
    font-size: 18px;
    color: black;
}

.home_frame .left .main_text{
    font-family: ralewayBold;
    font-size: 70px;
    text-transform: capitalize;
}

.home_frame .left .sub_text{
    font-family: openSans;
    font-size: 22px;
    color: black;
    width: 90%;
}

.home_frame .right{
    flex: 1;
    height: 90%;
    background-image: url(../../assets/home-frame-image.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* margin-top: 88px; */
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.home_frame .right img{
    width: 205px;
    height: 80px;
}

.point2{
    position: absolute;
    right: -7%;
    bottom: 20%;
}

.point1{
    position: absolute;
    left: 0;
    top: 20%;
}

.categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.category_cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section_heading{
    font-family: ralewayBold;
    font-size: 45px;
    color: black;
    text-transform: capitalize;
}

.populars{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.popular_cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.off_deals{
    width: 100%;
    height: 701px;
    padding: 0 3% 0 3%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(232, 232, 232, 1),rgba(236, 246, 250, 1));

}

.deals_left{
    flex: 1;
    height: 90%;
    background-image: url(../../assets/off-deals-image.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* margin-top: 88px; */
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.deals_left img{
    width: 60px;
    height: 60px;
}

.deals_right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    height: 100%;
    padding-bottom: 5%;
}

.deal_main_text{
    font-family: ralewayBold;
    font-size: 55px;
}

.deal_sub_text{
    font-family: openSans;
    font-size: 18px;
}

.deals_left .deals_left_content{
    position: relative;
}

.off_deals .deals_left img{
    width: 205px;
    height: 80px;
}

.point3{
    position: absolute;
    right: 7%;
    top: 20%;
}

.point4{
    position: absolute;
    left: 0;
    bottom: 20%;
}