@font-face {
    font-family: raleway;
    src: url(./assets/Raleway-Regular.ttf);
}
@font-face {
    font-family: ralewayBold;
    src: url(./assets/Raleway-Bold.ttf);
}
@font-face {
    font-family: ralewayMid;
    src: url(./assets/Raleway-Medium.ttf);
}
@font-face {
    font-family: ralewaySemi;
    src: url(./assets/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: ralewayXBold;
    src: url(./assets/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: akshar;
    src: url(./assets/Akshar-Regular.ttf);
}

:root{
    --primary-color: rgba(102, 136, 68, 1);
    --black: rgba(0, 0, 0, 1);
    --orange-text: rgba(231, 121, 96, 1);
    --small-text-color: rgba(140, 140, 140, 1);
    --gray-text-color: rgba(191, 191, 191, 1);
}


*{
    margin: 0;
    padding: 0;
    appearance: none;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background);
}
  
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

a{
    text-decoration: none;
    color: black;
}
  
